html *{font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6EDE2;
}
.main{
  width: 100%;
}

.granContenedor{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
}

                                                         /* HEADER */
.logo{
    width:25vh;
    height:25vh;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .genericUser{
    width:80px;
    height:80px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nav-link{
    color: white;
    text-align: center;
    width: 80px;
    padding: 1vh;
    border-radius: 0 30px ;
  }
   .navbar{
     margin-right: 2vw;
   }
  .navbar .nav-link{
    background-color: rgba(0, 0, 0, 0.322) ;
    text-shadow: 1px 0px 5px rgba(0,0,0,1) ;
    color: white !important;
  }
  .navbar .nav-link:hover{
    text-shadow: 1px 0px 5px rgba(0,0,0,1);
    color: rgb(85, 85, 85) !important;
  }
  .responsiveNav{
    display: none;  
  }
  ul button{
    box-shadow: 2px 2px 44px -5px rgba(0,0,0,0.75);
    margin: 0 !important;
    padding: 2vh 0 !important;
    border-radius: 100px !important;
    border: 4px solid black !important;
  } 
  
  .dropdown-menu{
    text-align: center;
    color: rgb(177, 177, 177) !important;
    background-color: rgba(0,0,0,0.75);
  }
  .dropdown-item:hover{
    background-color: rgba(0,0,0,0.75);
  }
  .dropdown-item{
    color: white !important;
  }
  .active{
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
    color: white !important;
    background-color: black !important;
  }

  .header{
    position: absolute;
    z-index: 2;
    top: -3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh auto;
    padding: 0 2vw;
  }
  .headerDer{
    display: flex !important;
  }
 
 


                                                           /* HOME */
 .hero{
    background-color: #46464646;
    background-blend-mode: soft-light;
    border-bottom: 30px solid black;
    border-radius: 0  0 50px 50px ;
    z-index: 1;
    width:100%;
    height: 120vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  }  
  .hero h1{
    text-shadow: 1px 0px 10px rgba(0,0,0,1);
    font-size: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 0 50px ;
    color: white;
    width: 50%;
    position: relative;
    top: 18%;
    left: 25% ; 
  }
  .callToAction img{
    border: 0px !important;
  } 
  .imgCallToAction{
    width:500px;
    height:500px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
  }  
  .callToAction{
    background-color: #faeedf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  } 
  .textoYBoton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .btnCta:hover{
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.2);
    background-color: #F6EDE2;
    color: black !important;
  }
  .btnCta{
    margin-top: 2vh;
    color: white !important;
    background-color: black;
    border-radius: 0 50px !important ;
    border: 1px solid black;
    width: 150px;
    font-size: 20px;
    border-radius: 0;
    padding: 1em;
  }
                                                       /* CAROUSEL */

  .carousel-indicators{
      display: none;
  }
  .carousel{
    background-color: black;
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 90vh;
    min-height: 90vh;
    overflow: hidden;
  }
  .sr-only{
    display: none;
  }
  .carouselTitle{
    box-shadow: 15px 13px 44px 30px rgba(0,0,0,0.75);
    margin: 0;
    padding: 3vh 0 0 0;
    color: white;
    background-color: black !important;
    text-align: center;
  }
  .carousel-control-prev{
    opacity: 1 !important;
    background-color: black;
  }
  .carousel-control-next{
    opacity: 1 !important;
    background-color: black;
  }
  .carousel-img{
    transition: box-shadow 0.7s;
    box-shadow: 0px 0px 35px -20px rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    width: 40%;
    height: 30vh;
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
  }
  .carousel-img:hover{
    background-color: #464646a3;
    background-blend-mode: soft-light;
    box-shadow: 0px 0px 30px -10px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: background-color 0.7s, box-shadow 0.7s;
  }  
  .carousel-img .cityName{
    border-radius: 30px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
  }
  .carousel-slides{
    min-width: 100%;
    max-width: 100%;
    position: relative;
    left: 7vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .carousel-item{
    max-width: 80vw;
    min-width: 80vw;
    max-height: 80vh;  
    min-height: 80vh;
  }  
  
  .carousel-inner *{
    margin: 1.5em 1em 2em 1em;
  }  

                                                        /* CITIES */

#heroAvion{
    background-color: #46464656;
    background-blend-mode: soft-light;
    border-bottom: 30px solid black;
    border-radius: 0  0 50px 50px ;
    z-index: 1;
    width:100%;
    height: 60vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  }
  .tituloCities *{
    margin: 5vh 4vw;
    text-align: center;
  }
  .tituloCities{
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .avionH1Cities{
    z-index: 1;
    min-width: 50px;
    width:13vw;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .sloganCities{
    background-color: rgba(0,0,0,0.2);
      text-shadow: 1px 1px 5px rgba(0,0,0,1) !important;
  }  
  .finder:focus{
    outline: none ;
  }
  .finder{
    font-size: 30px;
    padding:2vh;
    border-bottom: 5px solid black !important;
    text-align: center;
    width: 80vw;
    border: none;
    background-color: transparent;
  }  
  .cityBanners{
    box-shadow: 15px 13px 44px 20px rgba(0,0,0,1);
    background-color: black;
    margin: 5vh auto;
    padding: 7vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cityBanners a {
    text-decoration: none !important;
  }
  .cityBanner{
    margin: 2vh 0;
    border-radius: 30px;
    width: 80vw;
    height: 40vh;
    transition: height 0.7s, width 0.7s;
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cityBanner:hover {  
    width: 85vw; 
    height: 45vh;  
    background-color: #494949;
    background-blend-mode: soft-light;
    transition: height 0.7s, width 0.7s, background-color 0.5s; 
  }
  .parrafoBanner{
    margin-top: 6vh;
    text-align: justify;
    width: 50vw;
    font-size: 1vw;
    position: relative;
    color: white;
    opacity: 0;
    transition: opacity 0.7s;
  }
  .cityBanner:hover > .parrafoBanner{  
    margin-top: 6vh;
    text-align: justify;
    font-size: 1vw;
    position: relative;
    color: white;
    opacity: 1;
    width: 50vw;  
    transition: opacity 0.7s;
  }
  .cityBanner .cityName{
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
  }
  .btnHomeEnCities:hover{
    background-color: rgb(0, 0, 0) ;
    color: white !important;
  }
  .btnHomeEnCities{
    border-radius: 0 50px !important ;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    width: 300px;
    font-size: 20px;
    margin: 5vh 5vw;
    margin-bottom: 10vh;
    padding: 1em;
  }

                                                      /* ITINERARY */

  .itineraryBanner{
    background-color: #4949499e;
    background-blend-mode: soft-light;
    margin: 2vh 0;
    border-radius: 30px;
    width: 80vw;
    height: 40vh;
    transition: height 0.7s, width 0.7s;
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .itineraryTitle{
    font-size: 30px !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .itineraryTitle *{
    margin: 5vh 4vw;
    text-align: center;
  }
  .itineraryTitle h1{
    font-size: 50px !important;
  }


                                                       /* FOOTER */

.footer{
    background-color: #F6EDE2;
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
    color: black;
    padding: 1vh 3vw !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vw !important;
    width: 10%;
    text-align: center;
    width : 100%;
  }
  .footer .nav-link:hover{
    color: white !important;
    background-color: black;
  }
  .footer .nav-link{
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 80px;
    padding: 1vh;
    border-radius: 0 30px ;
  }
  .icons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .icons *{
    margin: 0 2vw !important;
  }
  
  .navFooter *{
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  }
  
  .mapa{
    color: black;
  }



                                                    /* MEDIAQUERY */



  @media screen and (min-width: 576px) and (max-width: 1093px) {
    .icons *{
      width: 5vw;
      margin: 0 2vw !important;
    }
  
  .btnHomeEnCities{
    border-radius: 0 50px !important ;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    width: 150px;
    font-size: 15px;
    margin: 5vh 5vw;
    margin-bottom: 10vh;
    padding: 1em;
  }
  
  
  }
  @media screen and (min-width: 300px) and (max-width: 991px) {
  
    
    .hero h1{
      text-shadow: 1px 0px 10px rgba(0,0,0,1);
      font-size: 5vw;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      border-radius: 0 50px ;
      color: white;
      width: 90%;
      position: relative;
      top: 22%;
      left: 5% ;
    
    }
  
  }
  @media screen and (min-width: 300px) and (max-width: 991px) {
  
    .responsiveNav{
      display: block;
      width:80px;
      height:80px;
      background-position:center;
      background-size: 50px;
      background-repeat: no-repeat;
      position: relative;
      top: 6em;
      left: 100%;
    }  
    .navbar{
      display: none;
    }
    .carousel-slides{
      padding-top: 2em;
      flex-direction:column ;
    }
    .carousel-img{
      box-shadow: 0px 0px 40px -20px rgba(255, 255, 255, 0.75);
      border-radius: 30px;
      width: 80%;
      height: 16vh;
      background-position:center;
      background-size:cover; 
      background-repeat: no-repeat;
    }
    .carousel-inner *{
      margin: 0.2em 1em 0.5em 1em;
    }
    .carousel{
      background-color: black;
      max-width: 100% !important;
      min-width: 100% !important;
      max-height: 85vh;
      min-height: 85vh; 
      overflow: hidden;
    }
    .carousel-slides{
      min-width: 100%;
      max-width: 100%;
      position: relative;
      left: 6.5vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
  }
  
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .carousel-slides{
      min-width: 100%;
      max-width: 100%;
      position: relative;
      left: 4vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
      .carousel{
      background-color: black;
      max-width: 100%;
      min-width: 100%;
      max-height: 90vh;
      min-height: 90vh; 
      overflow: hidden;
    }
    .carousel-item{
      max-width: 80vw;
      min-width: 80vw;
      max-height: 84vh;  
      min-height: 84vh;
    }
  }
  
  
  @media screen and (min-width: 1px) and (max-width: 768px) {
  
    .imgCallToAction{
      display: none;
    }
    .callToAction{
      padding: 6vh 0;
      justify-content: center;
    }
    .btnHomeEnCities{
      border-radius: 0 50px !important ;
      border: 1px solid rgb(255, 255, 255);
      background-color: white;
      width: 100px;
      font-size: 10px;
      margin: 5vh 5vw;
      margin-bottom: 10vh;
      padding: 1em;
    }
  
  }









