*{font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
}
.granContenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
}

.carousel-indicators{
  display: none;

}
.hero{
  width:100%;
  height: 150vh;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}
 ul button{
  box-shadow: 2px 2px 44px -5px rgba(0,0,0,0.75);
  margin: 0 !important;
  padding: 2vh 0 !important;
  border-radius: 100px !important;
  border: 4px solid black !important;
} 

.navbar-toggler{
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.45);
}

.dropdown-menu{
  color: rgb(177, 177, 177) !important;
  background-color: rgba(0,0,0,0.75);
  left: 2% !important;
}
.dropdown-item:hover{
  background-color: rgba(0,0,0,0.75);
}
.dropdown-item{
  color: white !important;
}
.carousel{
  background-color: black;
  max-width: 99.1vw;
  min-width: 99.1vw;
  max-height: 90vh;
  min-height: 90vh;
  overflow: hidden;
}
.sr-only{
  display: none;
}
.hero{
  background-color: black !important;
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
}
.active{
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  color: white !important;
  background-color: black !important;
}
.header{
  position: absolute;
  z-index: 1;
  top: -3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh auto;
  padding: 0 2vw;
}

.navbar-nav .nav-link:hover{
  color: white !important;
}
.nav-link{
  text-align: center;
  width: 80px;
  padding: 1vh;
  border-radius: 0 30px ;
}

.headerDer{
  display: flex !important;
}

.hero h2{
  border: 5px solid rgb(37, 37, 37, 0.5);
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 0 50px ;
  color: white;
  background-color: rgb(37, 37, 37, 0.6);
  width: 30%;
  position: relative;
  top: 50%;
  left: 60%;

}

.hero h1{
  border: 5px solid rgb(37, 37, 37, 0.5);
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  font-size: 4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 0 50px ;
  color: white;
  background-color: rgb(37, 37, 37, 0.6);
  width: 30%;
  position: relative;
  top: 15%;
  left: 34%;

}
.callToAction img{
  border: 0px !important;
}

.imagenArriba{
  position: initial !important;
  top: 80%;
}
.callToAction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
} 

.btn-link .nav-link{
  width: 100px;
  font-size: 20px;
  border-radius: 0;
  padding: 0;
}

.btn-link:hover{
  background-color: #fff;
  box-shadow: 0px 13px 44px -10px rgba(0,0,0,1);

}
.carouselTitle{
  box-shadow: 15px 13px 44px 30px rgba(0,0,0,0.75);
  margin: 0;
  padding: 3vh 0 0 0;
  color: white;
  background-color: black !important;
  text-align: center;
}

.carousel-control-prev{
  opacity: 1 !important;
  background-color: black;
}
.carousel-control-next{
  opacity: 1 !important;
  background-color: black;
}

.carousel-img:hover{
  box-shadow: 0px 0px 40px -5px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.carousel-img{
  box-shadow: 0px 0px 40px -20px rgba(255, 255, 255, 0.75);
  border-radius: 30px;
  width: 40%;
  height: 30vh;
  background-position:center;
  background-size:cover; 
  background-repeat: no-repeat;
}
.cityName{
  border-radius: 30px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}
.carousel-slides{
  padding: 0vh 0 0 0;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  left: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-item{
  max-width: 80vw;
  min-width: 80vw;
  max-height: 80vh;  
  min-height: 80vh;
}


.carousel-inner *{
  margin: 1.5em 1em 2em 1em;
}

.footer{
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
  color: black;
  padding: 1vh 3vw !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw !important;
  width: 10%;
  text-align: center;
  width : 100%;
}
.footer .nav-link:hover{
  color: white !important;
  background-color: black;
}
.footer .nav-link{
  box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 80px;
  padding: 1vh;
  border-radius: 0 30px ;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.icons *{
  margin: 0 2vw !important;
}

.navFooter *{
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
}

.mapa{
  color: black;
}

@media screen and (min-width: 576px) and (max-width: 1093px) {
  .icons *{
    width: 5vw;
    margin: 0 2vw !important;
  }


}
@media screen and (min-width: 400px) and (max-width: 798px) {
  
  .hero h2{
    border: 5px solid rgb(37, 37, 37, 0.5);
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
    font-size: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 0 50px ;
    color: white;
    background-color: rgb(37, 37, 37, 0.6);
    width: 50%;
    position: relative;
    top: 50%;
    left: 45%;
  
  }
  
  .hero h1{
    border: 5px solid rgb(37, 37, 37, 0.5);
    box-shadow: 15px 13px 44px 8px rgba(0,0,0,0.75);
    font-size: 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 0 50px ;
    color: white;
    background-color: rgb(37, 37, 37, 0.6);
    width: 50%;
    position: relative;
    top: 15%;
    left: 25%;
  
  }

}
@media screen and (min-width: 400px) and (max-width: 991px) {

  .responsiveNav{
    position: relative;
    flex-direction: row-reverse;
    top: 5em;
    left: 59%;
  }

  .navbar .active{
    color: black !important;
    background-color: white !important;
  }
  .navbar a{
    color: white !important;
  }
  .navbar{
    align-items: unset;
    justify-content: unset;
  }
  .navbar-nav{
    color: white;
    background-color: rgba(0,0,0,0.75);
    padding-top: 0.5em;
    width: 9.9em;
    position: absolute;
    left: -3.9em;
    top: 5em;
  }

  
  .navbar-collapse{
    flex-basis: 0;
  }
  .navbar-toggler{
    border-radius: 100px;
    width: 80px;
    height: 80px;
  }

  .carousel-slides{
    padding-top: 2em;
    flex-direction:column ;
  }
  .carousel-img{
    box-shadow: 0px 0px 40px -20px rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    width: 80%;
    height: 15vh;
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
  }
  .carousel-inner *{
    margin: 0.2em 1em 1.5em 1em;
  }
  .carousel{
    background-color: black;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 90vh;
    min-height: 90vh; 
    overflow: hidden;
  }
  .carousel-slides{
    min-width: 100%;
    max-width: 100%;
    position: relative;
    left: 6.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .carousel-slides{
    min-width: 100%;
    max-width: 100%;
    position: relative;
    left: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero{
    background-position: -300px ;
    
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .hero{
    background-position: -330px;
    
  }
}
@media screen and (min-width: 1px) and (max-width: 768px) {

  .imgCallToAction{
    display: none;
  }
  .callToAction{
    padding: 6vh 0;
    justify-content: center;
  }


}